@use '../../../../../shared/utils/token/css/semantic-color';

.a-box--invert {
	color: semantic-color.$color-area-background;
	background-color: semantic-color.$color-area-foreground;

	&::after {
		content: '';
		display: block;
		position: absolute;
		left: -4rem;
		top: 0;
		width: 0;
		height: 0;

		border-right-color: semantic-color.$color-area-foreground;
	}
}
