@use '../../../../shared/utils/webfonts/css/webfonts';
@use '../../../../shared/utils/token/css/semantic-color';
@use '../../../../shared/utils/breakpoints/css/breakpoints';

.a-quote {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 1.2rem 4rem;
	color: semantic-color.$color-area-foreground;
	background: semantic-color.$color-area-background;
	font-size: 20px;

	@media (min-width: breakpoints.$size-md-min) {
		padding: 2rem 4rem;
		font-size: 28px;
	}
	@media (min-width: breakpoints.$size-lg-min) {
		padding: 3rem 10rem;
		font-size: 34px;
	}
}

.a-quote__text {
	margin: 0;
	font-size: 1em;
	font-family: webfonts.$font-family-playfair, sans-serif;
	&::before,
	&::after {
		position: absolute;
		color: semantic-color.$color-area-border;
		font-size: 4em;
		text-shadow: -3px 0 semantic-color.$color-solid-grey-1;
	}
	&::before {
		top: -0.39em;
		left: 1rem;
		content: '“';
		@media (min-width: breakpoints.$size-lg-min) {
			left: 4rem;
		}
	}
	&::after {
		bottom: -0.75em;
		right: 1rem;
		content: '”';
		@media (min-width: breakpoints.$size-lg-min) {
			right: 4rem;
		}
	}
}

.a-quote__cite {
	display: block;
	margin-top: 0.2rem;
	margin-right: -1rem;
	text-align: right;
	font-size: 0.8em;
	font-family: webfonts.$font-family-gaegu, sans-serif;
}
