/* ⚠️ scss component variables */

$body-foreground: var(--body-foreground);
$body-background: var(--body-background);

$example-color-foreground: var(--example-color-foreground);
$example-color-background: var(--example-color-background);
$example-color-foreground-highlight: var(--example-color-foreground-highlight);
$example-color-background-highlight-1: var(--example-color-background-highlight-1);
$example-color-background-highlight-2: var(--example-color-background-highlight-2);
$example-border-radius: var(--example-border-radius);
$example-padding: var(--example-padding);

/* ⚠️ end scss component variables */
