/* ⚠️ scss semantic dimension variables */

$spacing-static-1: var(--spacing-static-1);
$spacing-static-2: var(--spacing-static-s2);

$spacing-s1: var(--spacing-s1);
$spacing-s2: var(--spacing-s2);
$spacing-s3: var(--spacing-s3);

/* ⚠️ end scss semantic dimension variables */
