/* ⚠️ scss semantic color variables */

$color-accent-1: var(--color-brand-1);
$color-accent-2: var(--color-brand-2);
$color-accent-3: var(--color-brand-3);

$color-area-foreground: var(--color-area-foreground);
$color-area-background: var(--color-area-background);
$color-area-border: var(--color-area-border);

$color-solid-white: var(--color-solid-white);
$color-solid-grey-1: var(--color-solid-grey-1);
$color-solid-grey-2: var(--color-solid-grey-2);
$color-solid-grey-3: var(--color-solid-grey-3);
$color-solid-grey-4: var(--color-solid-grey-4);
$color-solid-grey-5: var(--color-solid-grey-5);
$color-solid-grey-6: var(--color-solid-grey-6);
$color-solid-grey-7: var(--color-solid-grey-7);
$color-solid-grey-8: var(--color-solid-grey-8);
$color-solid-grey-9: var(--color-solid-grey-9);
$color-solid-black: var(--color-solid-black);

$color-interaction-default: var(--color-brand-1);

/* ⚠️ end scss semantic color variables */
