.a-list--mix {
	.a-list__item {
		/* stylelint-disable max-nesting-depth */
		&:nth-child(2n) {
			&::before {
				mask-image: url('../../img/arrow.svg');
			}
		}
		&:nth-child(3n) {
			&::before {
				mask-image: url('../../img/nitro.svg');
			}
		}
		/* stylelint-enable max-nesting-depth */
	}
}
