@use '../../../../utils/breakpoints/css/breakpoints';

$spacer: 2rem;
$grid-columns: 12;
$grid-gutter-width: 20px;
$grid-breakpoints: (
	xs: 0,
	sm: breakpoints.$size-sm-min,
	md: breakpoints.$size-md-min,
	lg: breakpoints.$size-lg-min,
	xl: breakpoints.$size-xl-min,
	xxl: breakpoints.$size-xxl-min,
);
$container-max-widths: (
	sm: breakpoints.$size-sm-max,
	md: breakpoints.$size-md-max,
	lg: breakpoints.$size-lg-max,
	xl: breakpoints.$size-xl-max,
	xxl: breakpoints.$size-xl-max + 1,
);
